[y-page="pageGame"] {
	&,
	> * {
		padding: 0;
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
	}

	.game {
		font-size: 40pt;

		* {
			font-size: inherit;
		}
	}

	#zoom {
		z-index: 1;
		bottom: auto;
		left: auto;
		top: max(10%, 50px);
		display: flex;
		flex-flow: column nowrap;

		> button {
			cursor: pointer;
			min-height: 25px;
			min-width: 25px;
			font-size: 20px;
			line-height: 1em;
			text-align: center;
			background: lightgrey;
			color: black;
			border: 2px outset darkgrey;
			border-radius: 5px;

			&:disabled {
				filter: opacity(0.5);
				cursor: default;
				border: 2px solid transparent;
			}
		}
	}

	$max-left-menu-width: 0;

	@media (orientation: landscape) {
		$max-left-menu-width: 200px;

		div.unit-actions-menu {
			max-width: $max-left-menu-width;
		}
	}

	div.unit-actions-menu {
		position: fixed;

		bottom: 0;
		right: 800px;
		left: 0;
		background: forestgreen;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly;
		padding: 20px 0;

		@media (orientation: landscape) {
			flex-flow: column nowrap;
			bottom: 0;
			right: auto;
			left: 0;
			top: 110px;
			padding: 0 20px;
		}

		> button {
			font-family: "Trebuchet MS", "Open Sans", "Helvetica Neue", sans-serif;
			font-size: 40px;
			border-radius: 100px;
			padding: 5px 15px;

			&:not([disabled]) {
				cursor: pointer;
			}
		}
	}

	%btn-close {
		position: fixed;
		bottom: auto;
		left: auto;
		right: 0;
		top: 0;
		$square: 50px;
		width: $square;
		height: $square;
		line-height: $square;
		text-align: center;
		vertical-align: middle;
		color: white;
		cursor: pointer;
	}

	div#tile-menu {
		background: white;
		position: fixed;
		bottom: 0;
		left: math.div($max-left-menu-width, 2);
		right: 400px;
		top: auto;
		margin: 0;
		padding: 0.5em 2em;
		border: 5px solid black;
		border-radius: 50px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly;

		> button {
			padding: 2px 5px;
			text-align: left;
			font-family: "Trebuchet MS", "Open Sans", "Helvetica Neue", sans-serif;
			font-size: 20px;

			> kbd {
				font-size: 20pt;

				&::before {
					content: "(";
				}

				&::after {
					content: ")";
				}
			}

			&:not([disabled]) {
				cursor: pointer;
			}
		}

		&[hidden] {
			display: none;
		}
	}

	#tile-view {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: space-around;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: 10;

		&[hidden] {
			display: none;
		}

		&:not([hidden]) ~ canvas {
			z-index: -1;
		}

		@media (orientation: portrait) {
			flex-flow: column;
		}

		> * {
			display: flex;
			flex-flow: column;
			align-items: center;

			.name {
				background: black;
				color: white;
				padding: 2px 5px;
				border-radius: 0.5em;
			}
		}

		&:not([hidden]) + .game .unit-actions-menu {
			display: none;
		}

		> .btn-close {
			@extend %btn-close;
		}
	}

	#city-view {
		> .btn-close {
			@extend %btn-close;
		}
	}

	#production-queue {
		position: fixed;
		left: 0;
		top: 50%;
		bottom: 0;
		width: 200px;
		background: white;
		display: flex;
		flex-flow: column nowrap;

		ul {
			overflow: auto;
		}

		> h2 {
			font-size: 1.4rem;
			margin-bottom: 1rem;
			text-align: center;
		}
	}
}
